<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <script>var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);(function(){var d=document;var e=d.createElement("script");e.type="text/javascript";e.async=true;e.src=(("http:"===d.location.protocol)?"http:":"https:")+"//d1ros97qkrwjf5.cloudfront.net/13/eum/rum.js";var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(e,s);})()</script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>  {% block title %}
        If you see this, your page is incomplete
      {% endblock title %}</title>
  <meta name='current-user' content= 674863 />

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <script type="text/javascript">
//<![CDATA[
function async(f) { async.f.push(f) }; async.f = []
//]]>
</script>
  <script type="text/javascript">
//<![CDATA[
var RAILS_ENV = "production"
//]]>
</script>

  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/stylesheets/cache/all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/stylesheets/print/application.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/stylesheets/ie/base.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/stylesheets/colors/blue.css" media="screen" rel="stylesheet" title="Theme" type="text/css" />

  <noscript><style type="text/css">#app_header, div.wrapper { display: none }</style></noscript>

  
</head>  
<body class="clearfix parties   webkit  windows"  onloadnot="setupZoom()">
  

    {% include "header.html" %}
	
	<div id="wrapper">
    
      {% block content %}
      {% endblock content %}
      
     </div>
	 
	 
	<div id="global_sidebar" class="column">
	{% include "sidebar.html" %}
	</div>
	

 </div>
  </div>

 
  <hr style="display: none;" />

	<div id="preloaded_images" style="position:absolute; height:0px; overflow:hidden;">
		<img alt="Dots-white" src="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/dots-white.gif" />
		<img alt="Dots-black" src="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/dots-black.gif" />
	</div>
  
  

  

  <script src="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/sprockets.js" type="text/javascript"></script>
  
  <script type="text/javascript" charset="utf-8">NREUMQ.push(["nrf2","beacon-1.newrelic.com","10f60f8605",1746,"IV1cEkFdWghSFxkHXA9CUwhaV0VLWQBB",0,74])</script>

</body>
</html>