<div id="global_sidebar" class="column">
        <div class="liner">
          <div id="global_nav">
  <ul>
    
      <li class="welcome"><a href="/welcome" class="">Welcome</a></li>
    

    <li class="dashboard"><a href="/" class="">Latest activity</a></li>
    <li class="parties"><a href="/parties" class="selected">Contacts <span class='stat'>~2 people</span></a></li>
    <li class="tasks"><a href="/tasks" class="">Tasks <span class='stat'>1 overdue</span></a></li>
    <li class="kases"><a href="/kases" class="">Cases <span class='stat'>1 open</span></a></li>
    <li class="deals"><a href="/deals" class="">Deals <span class='stat'>none pending</span></a></li>
    <li class="search"><a href="/recordings/search" class="">Search notes</a></li>
  </ul>
</div>
          
          <div id="recent_items">
  
    <hr />
  
    <h4>Recently viewed</h4>
    <div class="recent_items">
      
        <a href="/companies/105922777-entreprise-02" class="recent_item ">
          <span class="sprite avatar blank_avatar company " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -0px -148px; width: 32px; padding-top: 32px; " title="entreprise 02" id="">entreprise 02</span>
          <span class="recent_name">entreprise 02</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/companies/105893284-sogeti" class="recent_item ">
          <span class="sprite avatar blank_avatar company " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -0px -148px; width: 32px; padding-top: 32px; " title="Sogeti" id="">Sogeti</span>
          <span class="recent_name">Sogeti</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/tags/1963206-manager" class="recent_item ">
          <span class="sprite avatar blank_avatar tag " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -168px -148px; width: 32px; padding-top: 32px; " title="manager" id="">manager</span>
          <span class="recent_name">manager</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/tags/1963205-developer" class="recent_item ">
          <span class="sprite avatar blank_avatar tag " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -168px -148px; width: 32px; padding-top: 32px; " title="developer" id="">developer</span>
          <span class="recent_name">developer</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/people/105202092-tedj-meabiou" class="recent_item ">
          <img alt="Tedj MEABIOU" class="avatar" height="32" src="https://asset0.37img.com/highrise/5f294b061196a30a4f57dbb30882607e4a3badd4891c02acc1dc96b8e8d13f037ffe00df48c65a4a786e4127f61716d01c9346dde190f4e5cf975b9a4e7d1d46d1ae971fb031c0dd8f501c15765a9ecb/avatar.gif?r=3" title="Tedj MEABIOU" width="32" />
          <span class="recent_name">Tedj MEABIOU</span>
          <span class="recent_desc">Rework</span>
        </a>
      
        <a href="/kases/632654-prospection-stage-d-ete" class="recent_item ">
          <span class="sprite avatar blank_avatar kase " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -56px -148px; width: 32px; padding-top: 32px; " title="prospection stage d'été" id="">prospection stage d'été</span>
          <span class="recent_name">prospection stage d'été</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/companies/105200466-rework" class="recent_item ">
          <img alt="Rework" class="avatar" height="32" src="https://asset0.37img.com/highrise/161735b033bb1626a322c430325509841cb58b713338ac83b3dd6039213ffd9101fa405c1b90c78c176a70b8240b39ab9344f4679b63b34318372eca012da5a8cee56356af6724fcc75844544465539d/avatar.gif?r=3" title="Rework" width="32" />
          <span class="recent_name">Rework</span>
          <span class="recent_desc"></span>
        </a>
      
        <a href="/people/105200465-mohamed-walid-lahmer" class="recent_item ">
          <span class="sprite avatar blank_avatar person " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/highrise_sprites.png) no-repeat -112px -148px; width: 32px; padding-top: 32px; " title="Mohamed Walid Lahmer" id="">Mohamed Walid Lahmer</span>
          <span class="recent_name">Mohamed Walid Lahmer</span>
          <span class="recent_desc">Rework</span>
        </a>
      
    </div>
  
</div>
          
        </div>
		
  </div>
   </div>
  </div>

  <hr style="display: none;" />

	<div id="preloaded_images" style="position:absolute; height:0px; overflow:hidden;">
		<img alt="Dots-white" src="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/dots-white.gif" />
		<img alt="Dots-black" src="https://d1a993iq9azmzq.cloudfront.net/rev_30ac99f/images/dots-black.gif" />
	</div>
  
