<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Highrise: Rework</title>
  <meta name='current-user' content= 674863 />

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <script type="text/javascript">
//<![CDATA[
function async(f) { async.f.push(f) }; async.f = []
//]]>
</script>
  <script type="text/javascript">
//<![CDATA[
var RAILS_ENV = "production"
//]]>
</script>

  <link href="/stylesheets/cache/all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print/application.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie/base.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="/stylesheets/colors/blue.css" media="screen" rel="stylesheet" title="Theme" type="text/css" />

  <noscript><style type="text/css">#app_header, div.wrapper { display: none }</style></noscript>

  <link href="https://esi1.highrisehq.com/companies/105200466-rework.atom" rel="alternate" title="ATOM" type="application/atom+xml" />
</head>

<body class="clearfix company party subject aggregate party webkit  windows"  onloadnot="setupZoom()">
<!------------------------------------------------------------- Header de la page ------------------------------------------------------------->
  {% include "AppNavigationHeader.html" %}
<!--------------------------------------------------------------End Header -------------------------------------------------------------------->
<!------------------------------------------------------------- Contenu de la page ------------------------------------------------------------>
  <div id="wrapper">
    <div id="inner_wrapper">
      <div id="main_body" class="column">
        
        
        
        <div id="blank_slate" class="clearfix">
          
        </div>

        
          <div behavior="switchable_container" id="page" style="display:none">
  

  <div id="screen_body">
    <div class="two_column_page_layout clearfix">
  		<div class="primary">
        <div class="content">
  		    






<div class="party_header">
  <table cellspacing="0">
    <tr>
      <td>
        <img alt="Rework" class="avatar" height="55" src="https://asset0.37img.com/highrise/161735b033bb1626a322c430325509841cb58b713338ac83b3dd6039213ffd9101fa405c1b90c78c176a70b8240b39ab9344f4679b63b34318372eca012da5a8cee56356af6724fcc75844544465539d/avatar.gif?r=3" title="Rework" width="55" />
      </td>
      <td>
        <h2>{{ sujet.titresujet }} </h2>
        <div class="tags">
  <div class="list" id="show_tags">
  	{% for mot in mots %}
    <a href="/tags/1999021-37signals" class="grey tag">{{ mot.motcle }}</a>
  	{% endfor %}
   
    <span class="edit"><a href="#" id="edit_tags_link" onclick="$$('#show_tags', '#subject_info').invoke('hide'); $$('#edit_tags').invoke('show'); $('new_tag_name').focus();; return false;">Edit tags</a></span>
  
</div>

  <div class="edit" id="edit_tags" style="display: none;">
    <div id="deletable_tags" class="list">
    	{% for mot in mots %}
    <span class="wrapper" id="tag_1999021_wrapper">
      <a href="#" id="tag_1999021" onclick="if (confirm('Are you sure you want to delete this tag?')) { $(this).addClassName('busy'); new Ajax.Request('/parties/105200466-rework/tags/1999021-37signals', {asynchronous:true, evalScripts:true, method:'delete', parameters:'authenticity_token=' + encodeURIComponent('izvNa9oBr0JNNDmt3VcL7DLBMyag1aax4E/a8BuwQDw=')}); }; return false;"><em>{{ mot.motcle }}</em></a>
    </span>
  	{% endfor %}
</div>


    <form action="/parties/105200466-rework/tags" method="post" onsubmit="return Tags.add(this)"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="izvNa9oBr0JNNDmt3VcL7DLBMyag1aax4E/a8BuwQDw=" /></div>
    <span class="header">Add tags one at a time:</span>
      <input id="new_tag_name" name="name" type="text" />
      <div class="auto_complete" id="new_tag_name_matches"></div><script type="text/javascript">
//<![CDATA[
async("var new_tag_name_auto_completer = new Ajax.Autocompleter('new_tag_name', 'new_tag_name_matches', '/tags/search', { paramName: 'term', updateElement: function(e) { $('new_tag_name').value = (e.textContent || e.innerText || ''); $('new_tag_name').focus(); } })")
//]]>
</script>

      <p class="submit">
        <input name="commit" type="submit" value="Add this tag" xdisable_with="Adding this tag&hellip;" />
        <span>or</span> <a class="admin" href="#" onclick="$$('#show_tags', '#subject_info').invoke('show'); $$('#edit_tags').invoke('hide');; return false;">Close</a>
      </p>
    </form>
  </div>
</div>
      </td>
    </tr>
	
  </table>
   <p><strong>Organisme:</strong>  <small>{{ sujet.organisme }}</small></p>
</div>

   


<div behavior="switchable_controls" class="display switches">
  <a behavior="switch_to" data-display="notes_and_emails" href="#notes_and_emails">Détails</a>
  
   
    <a behavior="switch_to" data-display="deals" href="#deals">Posutler</a>
	 <a behavior="switch_to" data-display="affectation" href="#affectation">Affectation</a>
    
    
  
</div>

<div behavior="switchable_displays" class="switchable displays">
  <div behavior="notes_and_emails_display" class="notes_and_emails" style="display:none">
    <div id="new_note_container">
  <div class="header">
   <b> {{sujet.description}} </b>
    
  </div>  
  
</div>

<div id="stream">
	
  



  <div id="recordings_toggles">
    <form action="/recordings/set_view_style" method="post" style="display: inline"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div><input id="return_url" name="return_url" type="hidden" value="/kases/632654-prospection-stage-d-ete" /><input id="scope" name="scope" type="hidden" value="subjects" /><select id="view" name="view" onchange="this.up().submit()"><option value="expanded">Excerpt view</option>
<option value="list">List view</option></select></form>

    <div class="links">
      
        <a href="/kases/632654-prospection-stage-d-ete/subscription" class="link_to digest" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ='); f.appendChild(s);f.submit();return false;">Subscribe to daily digest emails</a>
      
      <a href="https://esi1.highrisehq.com/kases/632654-prospection-stage-d-ete.atom" class="link_to feed">RSS Feed</a>
    </div>
  </div>



  <div id="recordings" class="recordings aggregated_recordings">
    
  <script type="text/javascript">
//<![CDATA[
async("Deal.populate({})")
//]]>
</script>
{% for note in notes %}
<div id="note_92238001" class="recording note hover_container written_recording">
  
    <div class="hover_target">
      <div class="nubbin">
  <div class="nubbin_content">
    <ul>
      
        <li><a class="image" href="#" onclick="if (confirm('Are you sure you want to delete this note?')) { $('note_92238001').addClassName('busy'); new Ajax.Request('/notes/92238001?from=kases&amp;subject_id=632654-prospection-stage-d-ete&amp;subject_type=Kase', {asynchronous:true, evalScripts:true, method:'delete', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); }; return false;"><span class="sprite " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_df13cd7/images/highrise_sprites.png) no-repeat -111px -180px; width: 10px; padding-top: 11px; " title="Delete" id="">Delete</span></a></li>
      

      
        <li><a class="edit_link admin" href="#" onclick="$('note_92238001').addClassName('busy'); new Ajax.Request('/notes/92238001/edit?from=kases&amp;subject_id=632654-prospection-stage-d-ete&amp;subject_type=Kase', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); return false;"><span>Edit</span></a></li>
      
    </ul>
  </div>
</div>

      
      <div class="type">
        
          <a href="/notes/92238001">Note</a>
        
      </div>
      
      
        <div class="avatar"><a href="/kases/632654-prospection-stage-d-ete" class="avatar"><img class="avatar" height="55" src="{{note.profile.picture}}"/></a></div>
      

      <div class="recording_content">
        
          

<div class="header">
  
    <span class="action_links">
      <span class="permalink">| 
        <a href="/notes/92238001">Go to note</a>
      </span>

      
        <div class="file_recording_container">
  <div class="file_recording menu_container" id="file_under_note_92238001">
    <div class="menu_target">
      <a href="#" class="open_button" onclick="return false">File this</a>
    </div>
    <div class="menu_content">
      <form action="/notes/92238001" class="edit_note" id="edit_note_92238001" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div>
        <input id="from" name="from" type="hidden" value="kases" /><input id="subject_type" name="subject_type" type="hidden" value="Kase" /><input id="subject_id" name="subject_id" type="hidden" value="632654" />
        <input class="collection_type" id="note_collection_type" name="note[collection_type]" type="hidden" value="Kase" />
        <input class="collection_id" id="note_collection_id" name="note[collection_id]" type="hidden" value="632654" />

        

  
    <h2>Attach it to a different case</h2>
    <p>
  <span class="sprite " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_df13cd7/images/highrise_sprites.png) no-repeat -0px -181px; width: 26px; padding-top: 23px; " title="Case" id="">Case</span>
  <select id="kasesselect_to_attach_note_92238001" class="kases" onchange="if ($(this).fire('collection:change').stopped) return false;">
    <option value="">No case</option>
    
      <option value="new_kase">Create a new case&hellip;</option>
    
    <option value="632654" selected="selected">prospection stage d'été</option>
  </select>
</p>

<script type="text/javascript">
//<![CDATA[
async("Collections.observeSelect(\"kasesselect_to_attach_note_92238001\", {\"subject_id\":632654,\"subject_type\":\"Kase\",\"recording_id\":92238001,\"collection\":\"kases\"});")
//]]>
</script>

    
  


      </form>
      <div class="close">
        <a href="#" class="close_button menu_target" onclick="return false">Close</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
async("SelectFiling.observeSelection('file_under_note_92238001');")
//]]>
</script>

      
    </span>
  

  <ul>
    
    
     <a href="#" ><li class="date">
     {{ note.profile.name }}
    </li></a>

    <li class="kind_and_author">
      <span class="kind_of_recording">
        Noté le
      </span>
       {{ note.creedate }}

      

      
    </li>

    
  </ul>
</div>


<div class="body">
  <p> {{ note.texnote }} </p>

  





<ul class="attachments">
  
</ul>


</div>



        
      </div>
    </div>
  
</div>
{% endfor %}

  

  <div id="new_note_form" class="body">
    <form action="/notessujet" class="new_note" enctype="multipart/form-data" id="new_note" method="post" onsubmit="return Notes.submit(this)"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div>
      <input id="note_subject_id" name="noteespace" type="hidden" value= {{ idsujet }} />
      <input id="note_subject_type" name="note[subject_type]" type="hidden" value="Kase" />
      <div class="note_body">
        <textarea class="autofocus" cols="40" data-behavior="autosave" data-focus-priority="1" id="note_body" name="notebody" onbeforepaste="Notes.adjustTextarea(this, 60, 300)" oninput="Notes.adjustTextarea(this, 60, 300)" onkeypress="Notes.adjustTextarea(this, 60, 300)" rows="16" style="height:60px"></textarea>
      </div>
      <div class="basics" id="new_note_form_basics">
        <div class="submit">
          &nbsp;<input name="commit" type="submit" value="Add this note" />
        </div>
        
      </div>
      <div class="extras" id="new_note_form_extras" style="display:none"></div>
    </form>
  </div>
  


  </div>
  <script type="text/javascript">
//<![CDATA[
async("new MenuObserver('recordings')")
//]]>
</script>
	
</div>


  </div>
  
    <div behavior="affectation" class="affectation" style="display:none">
      
  <div class="controls menu_container" id="company_people_controls">


{% if sujet.etatdaffection %}
			 sujet {{ sujet.etatdaffection }}
		{% else %}
		
    sujet non affecté
		{% endif %} 

      {% if candidatures %}
  
    
  </div>
  <div class="parties">
    <table class="index">
      {% for c in candidatures %}
        <tr id="row_person_105200465">


   {% for member in c.usersemails %}
    <td class="party">
      <div class="avatar_subject" id="person_105200465">
        <div class="info">
          <h3 >
            <a href="/parties/105200465-mohamed-walid-lahmer" class="to_person">
            {{ member }}
            </a>
          </h3>

          <h6>
            
             
            

            
              <a class="link_to email grey" href="{{ member }}">   {{ member }}</a>
            

            
           
            
          </h6>
          </div>
      </div>
    </td>

   {% endfor %}
  
    <!--<td class="party">
      <div class="avatar_subject" id="person_105202092">
        <div class="info">
          <h3 >
            <a href="/parties/105202092-tedj-meabiou" class="to_person">
              Tedj MEABIOU 
            </a>
          </h3>

          <h6>
            
              
            

            
              <a class="link_to email grey" href="mailto:tedj.meabiou@gmail.com?bcc=dropbox@93734853.esi1.highrisehq.com">tedj.meabiou@gmail.com</a>
            

            
           
            
          </h6>
         
        </div>
      </div>
    </td>!-->
	<td class="party">
	    
		demande		{{ c.etatcandidature }}
		
		

			
  <div class="controls menu_container" id="company_people_controls">
    
      <span class="button"><a href="/companies/105200466-rework/people/new" behavior="return_to"><span>Affecter </span></a></span>
     <span class="button"><a href="/companies/105200466-rework/people/new" behavior="return_to"><span>Ajouter à la file d'attente</span></a></span>
     <span class="button"><a href="/companies/105200466-rework/people/new" behavior="return_to"><span>Réfuser cette demande</span></a></span>
    
  </div>
    </td>
	


	
</tr>
{% endfor %}
     {% else %}
makan walou
		{% endif %} 



      
 
      
    </table>
  </div>
 

    </div>
    <div behavior="deals_display" class="deals" style="display:none">
      
  <div class="blank_slate_layout_container">
    <div class="blank_slate_layout">
  <div class="graphic" style="background-image:url(https://d1a993iq9azmzq.cloudfront.net/rev_ad542d8/images/blankslate_icon_deals.png);"></div>
  <div id ="loadresponsepostuler" class="content">
    <h1>Lettre de motivation:</h1>
	<form action="/addtocandidature" class="new_note" enctype="multipart/form-data" id="postuler" method="post" onsubmit="return Notes.submit(this)"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div>
      <input id="sujetid" name="sujetid" type="hidden" value= {{ idsujet }} />
	  <input id="espaceid" name="espaceid" type="hidden" value= {{ espaceid }} />
      <input id="note_subject_type" name="note[subject_type]" type="hidden" value="Kase" />
      <div class="note_body">
        <textarea class="autofocus" cols="40" data-behavior="autosave" data-focus-priority="1" id="note_body" name="lettredemotivation" onbeforepaste="Notes.adjustTextarea(this, 60, 300)" oninput="Notes.adjustTextarea(this, 60, 300)" onkeypress="Notes.adjustTextarea(this, 60, 300)" rows="16" style="height:60px"></textarea>
      </div>
      <div class="basics" id="new_note_form_basics">
        <div class="submit">
          &nbsp;<input name="commit" type="submit" value="Postuler" />
        </div>
        <div class="toggle">
          <a href="#" onclick="$('new_note_form_basics').addClassName('busy'); new Ajax.Request('/kases/632654-prospection-stage-d-ete/new_note_extras', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); return false;">Show options</a>
          (attach files, attach to a person, or change permissions)
        </div>
      </div>
      <div class="extras" id="new_note_form_extras" style="display:none"></div>
    </form>
    <!-- <textarea class="autofocus" cols="40" data-behavior="autosave" data-focus-priority="1" id="note_body" name="notebody" onbeforepaste="Notes.adjustTextarea(this, 60, 300)" oninput="Notes.adjustTextarea(this, 60, 300)" onkeypress="Notes.adjustTextarea(this, 60, 300)" rows="16" style="height:60px"></textarea>
    <div class="menu_container controls" id="deals_blank_slate_controls">
      
        
          
            
              <span class="button"><a href="/companies/105200466-rework/deals/new" behavior="return_to"><span>Postuler</span></a></span>
              <br />
            
          
        
      
    </div>-->
    <script type="text/javascript">
//<![CDATA[
async("new MenuObserver('deals_blank_slate_controls')")
//]]>
</script>
  </div>
</div>
  </div>


    </div>
    
  
</div>




  		  </div>
  		</div>
  		<div class="sidebar">
  		  <div class="content">
  		    
  
  <div class="sidebar_controls">
    <div class="edit"><a href="/companies/105200466-rework/edit" class="link_to edit">Modifier ce sujet:</a></div>
  </div>

  <div class="personal_info section">
    <div class="header">
      <h1>Encadreurs:</h1>
      <div class="control">
        <a class="link_to zoom" href="#" id="zoom_link" onclick="; return false;">Ajouter un encadreur</a>
     
      </div>
    </div>

    

    
        <div class="avatar_subject clearfix" id="person_107992802">
  <a href="/people/107992802-ghomari-reda" class="image"><span class="sprite avatar blank_avatar person " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_7622079/images/highrise_sprites.png) no-repeat -112px -148px; width: 32px; padding-top: 32px; " title="Ghomari Réda" id=""> {{ sujet.sujetaddedby }}</span></a>

  <div class="info">
 
    <h1 >
      <a href="/people/107992802-ghomari-reda"  class="to_person">
       {{ sujet.sujetaddedby }}
      </a>
    </h1>

    <h2>
      
      
      
    </h2>
  </div>
</div>

 {% for email in emails %}
        
    <div class="avatar_subject clearfix" id="person_107992802">
  <a href="/people/107992802-ghomari-reda" class="image"><span class="sprite avatar blank_avatar person " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_7622079/images/highrise_sprites.png) no-repeat -112px -148px; width: 32px; padding-top: 32px; " title="Ghomari Réda" id=""> {{ email.autrecollaborateur }}</span></a>

  <div class="info">
    
    <h1 >
      <a href="/people/107992802-ghomari-reda"  class="to_person">
         {{ email.autreencadreur }}
      </a>
    </h1>

    <h2>
      
      
      
    </h2>
  </div>
</div>
 {% endfor %}
 
     
      

      

    
  </div>





  <div class="personal_info section">
    <div class="header">
      <h1>Company Info</h1>
      <div class="control">
        <a class="link_to zoom" href="#" id="zoom_link" onclick="; return false;">Zoom</a>
        <a href="/companies/105200466-rework.vcf" class="link_to vcard">vCard</a>
      </div>
    </div>

    

    
      
  <div class="email_address data_group">
    
      <div class="value">
        <a href="mailto:meabiou@gmail.com?bcc=dropbox@93734853.esi1.highrisehq.com">meabiou@gmail.com</a>
        <span class="location label">Work</span>
      </div>
    
  </div>



  
    <div class="phone_number data_group">
      
        <div class="value">
          021900281
          <span class="location label">Work</span>
        </div>
      
    </div>
  



  





  <div class="address data_group">
    <table cellspacing="0">
      <tr>
        <td class="label">
          Work
        </td>
        <td class="local_conditions">
          
            <div id="local_conditions_address_49956945" style="display:none;">
              
            </div>
          
        </td>
      </tr>
    </table>
    
    <div class="value">alger</div>
  </div>





      
        <div class="data_group">
          <div class="label">Background</div>
          <div class="value">
            <p>une entreprise spécialisée dans les services de la communication et la collaboration</p>
          </div>
        </div>
      
      

      

    
  </div>

  



  		  </div>
  		</div>
    </div>
  </div>
</div>

        
        
        
        <div style="margin-top: 30px"> </div>        
      </div>
    <!----------------------------------------------------------------------End Contenu -------------------------------------------------------------->	 
	 
<!----------------------------------------------------------------------SideBar------------------------------------------------------------------->	 
 
	    			{% include "AppSidebar.html" %}
    
<!----------------------------------------------------------------------End SideBar -------------------------------------------------------------->

   
  

  

  <script src="/js/sprockets.js" type="text/javascript"></script>


 <script type="text/javascript">
 Event.observe(window, 'load', init, false);

function init() {
  // Attach handler to form's submit event
 Event.observe('new_note', 'submit', loadwithajax);
 Event.observe('postuler', 'submit', loadwithajaxpostuler);

}

function loadwithajaxpostuler(e) {


	 Event.stop(e);
	
	var url =  'loadresponsepostuler';
	//alert(selectionid);
	new Ajax.Request(url, {
	  method: 'get',
	  onSuccess: function(transport) {
		var notice = $('loadresponsepostuler');
		
		  notice.update(transport.responseText);
		
	
		 
	  
	}
 
 
 
});
}
function loadwithajax(e) {

alert('work tagginggg');
	 Event.stop(e);
	var sujetid =   $('note_subject_id').getAttribute('value');
	var url =  '/Rechnotesujet?id='+sujetid;
	//alert(selectionid);
	new Ajax.Request(url, {
	  method: 'get',
	  onSuccess: function(transport) {
		var notice = $('stream');
		
		  notice.update(transport.responseText);
		   Event.observe('new_note', 'submit', loadwithajax);
	
		 
	  
	}
 
 
 
});
}

 </script>
  

  
</body>
</html>
