  



  <div id="recordings_toggles">
    <form action="/recordings/set_view_style" method="post" style="display: inline"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div><input id="return_url" name="return_url" type="hidden" value="/kases/632654-prospection-stage-d-ete" /><input id="scope" name="scope" type="hidden" value="subjects" /><select id="view" name="view" onchange="this.up().submit()"><option value="expanded">Excerpt view</option>
<option value="list">List view</option></select></form>

    <div class="links">
      
        <a href="/kases/632654-prospection-stage-d-ete/subscription" class="link_to digest" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ='); f.appendChild(s);f.submit();return false;">Subscribe to daily digest emails</a>
      
      <a href="https://esi1.highrisehq.com/kases/632654-prospection-stage-d-ete.atom" class="link_to feed">RSS Feed</a>
    </div>
  </div>



  <div id="recordings" class="recordings aggregated_recordings">
    
  <script type="text/javascript">
//<![CDATA[
async("Deal.populate({})")
//]]>
</script>
{% for note in notes %}
<div id="note_92238001" class="recording note hover_container written_recording">
  
    <div class="hover_target">
      <div class="nubbin">
  <div class="nubbin_content">
    <ul>
      
        <li><a class="image" href="#" onclick="if (confirm('Are you sure you want to delete this note?')) { $('note_92238001').addClassName('busy'); new Ajax.Request('/notes/92238001?from=kases&amp;subject_id=632654-prospection-stage-d-ete&amp;subject_type=Kase', {asynchronous:true, evalScripts:true, method:'delete', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); }; return false;"><span class="sprite " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_df13cd7/images/highrise_sprites.png) no-repeat -111px -180px; width: 10px; padding-top: 11px; " title="Delete" id="">Delete</span></a></li>
      

      
        <li><a class="edit_link admin" href="#" onclick="$('note_92238001').addClassName('busy'); new Ajax.Request('/notes/92238001/edit?from=kases&amp;subject_id=632654-prospection-stage-d-ete&amp;subject_type=Kase', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); return false;"><span>Edit</span></a></li>
      
    </ul>
  </div>
</div>

      
      <div class="type">
        
          <a href="/notes/92238001">Note</a>
        
      </div>
      
      
      <div class="avatar"><a href="/profileof?id={{note.profile.key.id}}" class="avatar"><span class="sprite avatar blank_avatar kase "  style="background: url({{note.profile.picture}}) " title="{{note.profile.name}}" id="">prospection stage d'été</span></a></div>
      
 
      <div class="recording_content">
        
          

<div class="header">
  
    <span class="action_links">
      <span class="permalink">| 
        <a href="/notes/92238001">Go to note</a>
      </span>

      
        <div class="file_recording_container">
  <div class="file_recording menu_container" id="file_under_note_92238001">
    <div class="menu_target">
      <a href="#" class="open_button" onclick="return false">File this</a>
    </div>
    <div class="menu_content">
      <form action="/notes/92238001" class="edit_note" id="edit_note_92238001" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div>
        <input id="from" name="from" type="hidden" value="kases" /><input id="subject_type" name="subject_type" type="hidden" value="Kase" /><input id="subject_id" name="subject_id" type="hidden" value="632654" />
        <input class="collection_type" id="note_collection_type" name="note[collection_type]" type="hidden" value="Kase" />
        <input class="collection_id" id="note_collection_id" name="note[collection_id]" type="hidden" value="632654" />

        

  
    <h2>Attach it to a different case</h2>
    <p>
  <span class="sprite " style="background: url(https://d1a993iq9azmzq.cloudfront.net/rev_df13cd7/images/highrise_sprites.png) no-repeat -0px -181px; width: 26px; padding-top: 23px; " title="Case" id="">Case</span>
  <select id="kasesselect_to_attach_note_92238001" class="kases" onchange="if ($(this).fire('collection:change').stopped) return false;">
    <option value="">No case</option>
    
      <option value="new_kase">Create a new case&hellip;</option>
    
    <option value="632654" selected="selected">prospection stage d'été</option>
  </select>
</p>

<script type="text/javascript">
//<![CDATA[
async("Collections.observeSelect(\"kasesselect_to_attach_note_92238001\", {\"subject_id\":632654,\"subject_type\":\"Kase\",\"recording_id\":92238001,\"collection\":\"kases\"});")
//]]>
</script>

    
  


      </form>
      <div class="close">
        <a href="#" class="close_button menu_target" onclick="return false">Close</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
async("SelectFiling.observeSelection('file_under_note_92238001');")
//]]>
</script>

      
    </span>
  

  <ul>
    
    
      <a href="/profileof?id={{note.profile.key.id}}" ><li class="date">
     {{ note.profile.name }}
    </li></a>

    <li class="kind_and_author">
      <span class="kind_of_recording">
        Noté le
      </span>
       {{ note.creedate }}

      

      
    </li>

    
  </ul>
</div>


<div class="body">
  <p> {{ note.texnote }} </p>

  





<ul class="attachments">
  
</ul>


</div>



        
      </div>
    </div>
  
</div>
{% endfor %}

  

  <div id="new_note_form" class="body">
    <form action="/notessujet" class="new_note" enctype="multipart/form-data" id="new_note" method="post" onsubmit="return Notes.submit(this)"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=" /></div>
      <input id="note_subject_id" name="noteespace" type="hidden" value= {{ idsujet }} />
      <input id="note_subject_type" name="note[subject_type]" type="hidden" value="Kase" />
      <div class="note_body">
        <textarea class="autofocus" cols="40" data-behavior="autosave" data-focus-priority="1" id="note_body" name="notebody" onbeforepaste="Notes.adjustTextarea(this, 60, 300)" oninput="Notes.adjustTextarea(this, 60, 300)" onkeypress="Notes.adjustTextarea(this, 60, 300)" rows="16" style="height:60px"></textarea>
      </div>
      <div class="basics" id="new_note_form_basics">
        <div class="submit">
          &nbsp;<input name="commit" type="submit" value="Add this note" />
        </div>
        <div class="toggle">
          <a href="#" onclick="$('new_note_form_basics').addClassName('busy'); new Ajax.Request('/kases/632654-prospection-stage-d-ete/new_note_extras', {asynchronous:true, evalScripts:true, method:'get', parameters:'authenticity_token=' + encodeURIComponent('Gv+9TgCX1Zs4SgYotkvekF7PDfSQ3a+P9K/zU16ImkQ=')}); return false;">Show options</a>
          (attach files, attach to a person, or change permissions)
        </div>
      </div>
      <div class="extras" id="new_note_form_extras" style="display:none"></div>
    </form>
  </div>
  


  </div>
  <script type="text/javascript">
//<![CDATA[
async("new MenuObserver('recordings')")
//]]>
</script>
