<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Highrise</title>
  <meta name='current-user' content= 674863 />

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <script type="text/javascript">
//<![CDATA[
function async(f) { async.f.push(f) }; async.f = []
//]]>
</script>
  <script type="text/javascript">
//<![CDATA[
var RAILS_ENV = "production"
//]]>
</script>

  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/stylesheets/cache/all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/stylesheets/print/application.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/stylesheets/ie/base.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/stylesheets/colors/blue.css" media="screen" rel="stylesheet" title="Theme" type="text/css" />

  <noscript><style type="text/css">#app_header, div.wrapper { display: none }</style></noscript>

  
  <link href="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/stylesheets/signal_id/id_card.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body class="clearfix edit edit_user  webkit  windows"  onloadnot="setupZoom()">
  <!------------------------------------------------------------- Header de la page ------------------------------------------------------------->
  {% include "AppNavigationHeader.html" %}
<!--------------------------------------------------------------End Header -------------------------------------------------------------------->

<!------------------------------------------------------------- Contenu de la page ------------------------------------------------------------>

  <div id="wrapper">
    <div id="inner_wrapper">
      <div id="main_body" class="column">
        
        
        
        <div id="blank_slate" class="clearfix">
          
        </div>

        
                  <!-- page -->
        <div id="page">
          <div id="screen_body">

            <!-- page header -->
            <div id="page_header_wrapper">
              
              <div id="page_header">

                <div class="page_header">
  <table cellspacing="0" cellpadding="0" class="edit_self">
    <tr>      
      <td>
        <div class="edit_own_identity">
  <p class="edit_link">
    <a href="https://esi1.highrisehq.com/identity/edit">Edit your personal information</a>
  </p>
  <p>Change your name, photo, email address, username or password.</p>
</div>

      </td>
      <td>
        


<div id="id_card" >
  <div class="shadow">
    <div class="card">
      <div class="inner">
        <div class="avatar">
		{% if userinfo %}
			  <img alt="Avatar" src="{{userinfo.picture}}"/>
		{% else %}
			<img alt="Avatar" src="https://asset0.37img.com/global/missing/avatar.gif?r=3" />
		{% endif %}
		
          
        </div>
        <div class="text">
          <p class="name"><strong>{{userinfo.name}}</strong></p>
          <p>{{myemail}}</p>
          <p class="username_and_password">
           
            Nom: {{userinfo.name}}<br />
            Email: {{ userinfo.email }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

      </td>
    </tr>
  </table>
  <div id="edit_tabs" style="clear: both;">
    <ul>
      <li><a class="current_edit_tab" href="#" id="email_dropbox_link" onclick="EditTabs.select_and_show('email_dropbox'); return false;">CV</a></li>
      <li><a class="" href="#" id="time_settings_link" onclick="EditTabs.select_and_show('time_settings'); return false;">Time zone and format</a></li>
      <li><a class="" href="#" id="task_reminders_link" onclick="EditTabs.select_and_show('task_reminders'); return false;">Phone/email notifications</a></li>
      <li><a class="" href="#" id="api_token_link" onclick="EditTabs.select_and_show('api_token'); return false;">API token</a></li>
      <li><a class="" href="#" id="linkedin_link" onclick="EditTabs.select_and_show('linkedin'); return false;">LinkedIn</a></li>
    </ul>
  </div>
</div>

              </div>
            </div>
            <!--// page header -->

            <!-- page contents -->
            <div id="page_contents_wrapper" class="clearfix">

              <!-- main column -->
              <div id="page_main_column" class="column">
                <div class="liner">
                  






<div class="email_dropbox visible_edit_tab" id="email_dropbox_tab" style="display: block;">

 
  <p><strong>Le curriculum vitae (CV)</strong> est un document détaillant le parcours et autres compétences acquises d'un individu. Il s'agit en général du parcours scolaire et/ou professionnel qui fait état de la compétence d'un candidat. </p>

  <div class="dropbox_address">
 
<form action="/updatecv?id={{ cv.key.id }}" autocomplete="off" class="edit subject" enctype="multipart/form-data" id="edit_company_105200466" method="post" onsubmit="return $(this).markAsBusyIf($$('.required')[0].value != '' &amp;&amp; EditTabs.submit()); return Form.validate(this)"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="F8hx2rx/BbSqEoqqiXHWpKSkKPKd1RmxhBZwn5Dq/Hs=" /></div>

 

        <textarea cols="40" id="curriculumvitae" name="curriculumvitae" rows="20">{{ cv.textcv }}</textarea>
      
 <p>
 	
 <input name="commit" type="submit" value="Valider" />
  or <a href="/monprofile" class="admin">Cancel</a>
      </p>
 </form>

  </div>



</div>


<form action="/users/674863" class="edit_user" id="edit_user_674863" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="gQj5FMyZP7LUKAB6ye03UK8/1PqOTBZsmEzgtyBdFMg=" /></div>
  <div class="time_settings" id="time_settings_tab" style="display: none">
  <table class="user_fields">
    <tr>
      <th>Time zone</th>
      <td><select id="user_time_zone_id" name="user[time_zone_id]"><option value="Hawaii">(GMT-10:00) Hawaii</option>
<option value="Alaska">(GMT-09:00) Alaska</option>
<option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
<option value="Arizona">(GMT-07:00) Arizona</option>
<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
<option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option>
<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option><option value="" disabled="disabled">-------------</option>
<option value="International Date Line West">(GMT-11:00) International Date Line West</option>
<option value="Midway Island">(GMT-11:00) Midway Island</option>
<option value="Samoa">(GMT-11:00) Samoa</option>
<option value="Tijuana">(GMT-08:00) Tijuana</option>
<option value="Chihuahua">(GMT-07:00) Chihuahua</option>
<option value="Mazatlan">(GMT-07:00) Mazatlan</option>
<option value="Central America">(GMT-06:00) Central America</option>
<option value="Guadalajara">(GMT-06:00) Guadalajara</option>
<option value="Mexico City">(GMT-06:00) Mexico City</option>
<option value="Monterrey">(GMT-06:00) Monterrey</option>
<option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
<option value="Bogota">(GMT-05:00) Bogota</option>
<option value="Lima">(GMT-05:00) Lima</option>
<option value="Quito">(GMT-05:00) Quito</option>
<option value="Caracas">(GMT-04:30) Caracas</option>
<option value="Atlantic Time (Canada)">(GMT-04:00) Atlantic Time (Canada)</option>
<option value="La Paz">(GMT-04:00) La Paz</option>
<option value="Santiago">(GMT-04:00) Santiago</option>
<option value="Newfoundland">(GMT-03:30) Newfoundland</option>
<option value="Brasilia">(GMT-03:00) Brasilia</option>
<option value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
<option value="Georgetown">(GMT-03:00) Georgetown</option>
<option value="Greenland">(GMT-03:00) Greenland</option>
<option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
<option value="Azores">(GMT-01:00) Azores</option>
<option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
<option value="Casablanca">(GMT+00:00) Casablanca</option>
<option value="Dublin">(GMT+00:00) Dublin</option>
<option value="Edinburgh">(GMT+00:00) Edinburgh</option>
<option value="Lisbon">(GMT+00:00) Lisbon</option>
<option value="London">(GMT+00:00) London</option>
<option value="Monrovia">(GMT+00:00) Monrovia</option>
<option value="UTC">(GMT+00:00) UTC</option>
<option value="Amsterdam">(GMT+01:00) Amsterdam</option>
<option value="Belgrade">(GMT+01:00) Belgrade</option>
<option value="Berlin">(GMT+01:00) Berlin</option>
<option value="Bern">(GMT+01:00) Bern</option>
<option value="Bratislava">(GMT+01:00) Bratislava</option>
<option value="Brussels">(GMT+01:00) Brussels</option>
<option value="Budapest">(GMT+01:00) Budapest</option>
<option value="Copenhagen">(GMT+01:00) Copenhagen</option>
<option value="Ljubljana">(GMT+01:00) Ljubljana</option>
<option value="Madrid">(GMT+01:00) Madrid</option>
<option value="Paris" selected="selected">(GMT+01:00) Paris</option>
<option value="Prague">(GMT+01:00) Prague</option>
<option value="Rome">(GMT+01:00) Rome</option>
<option value="Sarajevo">(GMT+01:00) Sarajevo</option>
<option value="Skopje">(GMT+01:00) Skopje</option>
<option value="Stockholm">(GMT+01:00) Stockholm</option>
<option value="Vienna">(GMT+01:00) Vienna</option>
<option value="Warsaw">(GMT+01:00) Warsaw</option>
<option value="West Central Africa">(GMT+01:00) West Central Africa</option>
<option value="Zagreb">(GMT+01:00) Zagreb</option>
<option value="Athens">(GMT+02:00) Athens</option>
<option value="Bucharest">(GMT+02:00) Bucharest</option>
<option value="Cairo">(GMT+02:00) Cairo</option>
<option value="Harare">(GMT+02:00) Harare</option>
<option value="Helsinki">(GMT+02:00) Helsinki</option>
<option value="Istanbul">(GMT+02:00) Istanbul</option>
<option value="Jerusalem">(GMT+02:00) Jerusalem</option>
<option value="Kyev">(GMT+02:00) Kyev</option>
<option value="Pretoria">(GMT+02:00) Pretoria</option>
<option value="Riga">(GMT+02:00) Riga</option>
<option value="Sofia">(GMT+02:00) Sofia</option>
<option value="Tallinn">(GMT+02:00) Tallinn</option>
<option value="Vilnius">(GMT+02:00) Vilnius</option>
<option value="Baghdad">(GMT+03:00) Baghdad</option>
<option value="Kuwait">(GMT+03:00) Kuwait</option>
<option value="Minsk">(GMT+03:00) Minsk</option>
<option value="Nairobi">(GMT+03:00) Nairobi</option>
<option value="Riyadh">(GMT+03:00) Riyadh</option>
<option value="Tehran">(GMT+03:30) Tehran</option>
<option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
<option value="Baku">(GMT+04:00) Baku</option>
<option value="Moscow">(GMT+04:00) Moscow</option>
<option value="Muscat">(GMT+04:00) Muscat</option>
<option value="St. Petersburg">(GMT+04:00) St. Petersburg</option>
<option value="Tbilisi">(GMT+04:00) Tbilisi</option>
<option value="Volgograd">(GMT+04:00) Volgograd</option>
<option value="Yerevan">(GMT+04:00) Yerevan</option>
<option value="Kabul">(GMT+04:30) Kabul</option>
<option value="Islamabad">(GMT+05:00) Islamabad</option>
<option value="Karachi">(GMT+05:00) Karachi</option>
<option value="Tashkent">(GMT+05:00) Tashkent</option>
<option value="Chennai">(GMT+05:30) Chennai</option>
<option value="Kolkata">(GMT+05:30) Kolkata</option>
<option value="Mumbai">(GMT+05:30) Mumbai</option>
<option value="New Delhi">(GMT+05:30) New Delhi</option>
<option value="Sri Jayawardenepura">(GMT+05:30) Sri Jayawardenepura</option>
<option value="Kathmandu">(GMT+05:45) Kathmandu</option>
<option value="Almaty">(GMT+06:00) Almaty</option>
<option value="Astana">(GMT+06:00) Astana</option>
<option value="Dhaka">(GMT+06:00) Dhaka</option>
<option value="Ekaterinburg">(GMT+06:00) Ekaterinburg</option>
<option value="Rangoon">(GMT+06:30) Rangoon</option>
<option value="Bangkok">(GMT+07:00) Bangkok</option>
<option value="Hanoi">(GMT+07:00) Hanoi</option>
<option value="Jakarta">(GMT+07:00) Jakarta</option>
<option value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
<option value="Beijing">(GMT+08:00) Beijing</option>
<option value="Chongqing">(GMT+08:00) Chongqing</option>
<option value="Hong Kong">(GMT+08:00) Hong Kong</option>
<option value="Krasnoyarsk">(GMT+08:00) Krasnoyarsk</option>
<option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
<option value="Perth">(GMT+08:00) Perth</option>
<option value="Singapore">(GMT+08:00) Singapore</option>
<option value="Taipei">(GMT+08:00) Taipei</option>
<option value="Ulaan Bataar">(GMT+08:00) Ulaan Bataar</option>
<option value="Urumqi">(GMT+08:00) Urumqi</option>
<option value="Irkutsk">(GMT+09:00) Irkutsk</option>
<option value="Osaka">(GMT+09:00) Osaka</option>
<option value="Sapporo">(GMT+09:00) Sapporo</option>
<option value="Seoul">(GMT+09:00) Seoul</option>
<option value="Tokyo">(GMT+09:00) Tokyo</option>
<option value="Adelaide">(GMT+09:30) Adelaide</option>
<option value="Darwin">(GMT+09:30) Darwin</option>
<option value="Brisbane">(GMT+10:00) Brisbane</option>
<option value="Canberra">(GMT+10:00) Canberra</option>
<option value="Guam">(GMT+10:00) Guam</option>
<option value="Hobart">(GMT+10:00) Hobart</option>
<option value="Melbourne">(GMT+10:00) Melbourne</option>
<option value="Port Moresby">(GMT+10:00) Port Moresby</option>
<option value="Sydney">(GMT+10:00) Sydney</option>
<option value="Yakutsk">(GMT+10:00) Yakutsk</option>
<option value="New Caledonia">(GMT+11:00) New Caledonia</option>
<option value="Vladivostok">(GMT+11:00) Vladivostok</option>
<option value="Auckland">(GMT+12:00) Auckland</option>
<option value="Fiji">(GMT+12:00) Fiji</option>
<option value="Kamchatka">(GMT+12:00) Kamchatka</option>
<option value="Magadan">(GMT+12:00) Magadan</option>
<option value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
<option value="Solomon Is.">(GMT+12:00) Solomon Is.</option>
<option value="Wellington">(GMT+12:00) Wellington</option>
<option value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option></select></td>
    </tr>
    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>
    <tr class="time_format">
      <th>Time format</th>
      <td>
        <label>
          <input checked="checked" id="user_use_24h_clock_false" name="user[use_24h_clock]" type="radio" value="false" />
          12-hour (3:00pm)
        </label>
        <label>
          <input id="user_use_24h_clock_true" name="user[use_24h_clock]" type="radio" value="true" />
          24-hour (15:00)
        </label>
      </td>
    </tr>
  </table>

  <div class="submit">
    <p class="submit">
      <input name="commit" type="submit" value="Save settings" /> or <a href="https://esi1.highrisehq.com/welcome" class="admin">Cancel</a>
    </p>
  </div>
</div>

  <div class="task_reminders" id="task_reminders_tab" style="display: none;">
  
    <h3>Email notifications</h3>
    <p>Send all Highrise notifications and reminders to this address:</p>
    
    <p class="indent">
      <label>Email address</label>
      <input id="user_notification_address" name="user[notification][address]" size="30" type="text" value="tedj.meabiou@gmail.com" />
    </p>
    
    <div class="reminders_section">
      <h3>Task reminders via email</h3>
      <p>
        <label><input name="user[notification][by_email]" type="hidden" value="0" /><input checked="checked" id="user_notification_by_email" name="user[notification][by_email]" type="checkbox" value="1" /> Email me when a task is due</label><br />
        <label><input name="user[notification][daily_summary]" type="hidden" value="0" /><input checked="checked" id="user_notification_daily_summary" name="user[notification][daily_summary]" type="checkbox" value="1" /> Email me a summary of today&rsquo;s tasks at 6:00am</label>
      </p>
    </div>

    <div class="mobile_section">
      <h3>Mobile phone reminders</h3>
      <p><label><input name="user[notification][by_mobile]" type="hidden" value="0" /><input id="user_notification_by_mobile" name="user[notification][by_mobile]" type="checkbox" value="1" /> Send SMS alerts to my phone when a task is due</label></p>

      <p class="indent"><label>Mobile phone</label>
      <input id="user_notification_number" name="user[notification][number]" size="30" style="width: 120px;" type="text" /> on
      <select id="user_notification_service" name="user[notification][service]"><option value="">Select a service...</option>
<option value="#">USA/Canada---------------</option>
<option value="txt.att.net">AT&amp;T</option>
<option value="mmode.com">AT&amp;T mmode</option>
<option value="airtouch.net">Airtouch Pager</option>
<option value="wirefree.informe.ca">Aliant/NBTel</option>
<option value="message.alltel.com">Alltel</option>
<option value="paging.acswireless.com">Ameritech (ACS)</option>
<option value="txt.bellmobility.ca">Bell Mobility Canada</option>
<option value="myboostmobile.com">Boost Mobile</option>
<option value="csouth1.com">Cellular South</option>
<option value="cwemail.com">Centennial Wireless</option>
<option value="gocbw.com">Cincinnati Bell Wireless</option>
<option value="mobile.mycingular.com">Cingular</option>
<option value="sms.mycricket.com">Cricket</option>
<option value="sms.edgewireless.com">Edge Wireless</option>
<option value="fido.ca">Fido Canada</option>
<option value="mms.longlines.com">LongLines Wireless</option>
<option value="mymetropcs.com">Metro PCS</option>
<option value="sms.nex-techwireless.com">Nex-tech Wireless</option>
<option value="messaging.nextel.com">Nextel</option>
<option value="pager.qualcomm.com">Qualcomm</option>
<option value="qwestmp.com">Qwest</option>
<option value="pcs.rogers.com">Rogers Wireless</option>
<option value="email.skytel.com">Skytel Pager</option>
<option value="messaging.sprintpcs.com">Sprint PCS</option>
<option value="tms.suncom.com">Suncom</option>
<option value="tmomail.net">T-Mobile USA</option>
<option value="msg.telus.com">Telus Mobility</option>
<option value="email.uscc.net">US Cellular</option>
<option value="utext.com">Unicel</option>
<option value="vtext.com">Verizon</option>
<option value="viaerosms.com">Viaero Wireless</option>
<option value="vmobile.ca">Virgin Mobile Canada</option>
<option value="vmobl.com">Virgin Mobile USA</option>
<option value="voicestream.net">Voicestream</option>
<option value="#">Elsewhere----------------</option>
<option value="bellsouth.cl">Bellsouth</option>
<option value="sms.comviq.se">Comviq/Tele2 (Sweden)</option>
<option value="sms.orange.nl">Dutchtone/Orange-NL</option>
<option value="smsmail.eplus.de">E Plus (Germany)</option>
<option value="ideacellular.net">IDEA Cellular (India)</option>
<option value="kapow.co.uk">Kapow!</option>
<option value="sms.mtel.net">M-Tel (Bulgaria)</option>
<option value="m1.com.sg">MobileOne (Singapore)</option>
<option value="sms.movistar.net.ar">Movistar (Argentina)</option>
<option value="sms.netcom.no">Netcom</option>
<option value="sms.eurotel.cz">O2 (Czech Republic)</option>
<option value="mmail.co.uk">O2 (United Kingdom)</option>
<option value="o2online.de">O2 Germany</option>
<option value="orange.net">Orange</option>
<option value="orange.fr">Orange (France)</option>
<option value="orange.pl">Orange (Poland)</option>
<option value="mujoskar.cz">Oskar</option>
<option value="personal-net.com.ar">Personal (Argentina)</option>
<option value="smsonline.proximus.be">Proximus (Belgium)</option>
<option value="sfr.fr">SFR (France)</option>
<option value="mysmart.com.ph">Smart Com (Philippines)</option>
<option value="starhub.net.sg">StarHub (Singapore)</option>
<option value="sms.t-mobile.at">T-Mobile (Austria)</option>
<option value="T-D1-SMS.de">T-Mobile (Germany)</option>
<option value="t-mobile.uk.net">T-Mobile (UK)</option>
<option value="gin.nl">T-Mobile Netherlands</option>
<option value="gsm1800.telia.dk">Telia Denmark</option>
<option value="onlinesms.telstra.com">Telstra</option>
<option value="vxtras.com">Virgin Mobile UK</option>
<option value="vodafone.de">Vodafone Germany</option>
<option value="sms.vodafone.it">Vodafone Italy</option>
<option value="c.vodafone.ne.jp">Vodafone Japan C</option>
<option value="h.vodafone.ne.jp">Vodafone Japan H</option>
<option value="t.vodafone.ne.jp">Vodafone Japan T</option>
<option value="vodafone.pt">Vodafone Portugal</option>
<option value="vodafone.es">Vodafone Spain</option>
<option value="euromail.se">Vodafone Sweden</option></select>
      </p>
      <p class="indent">
        Mobile number example: 312-555-1212 or (020) 7888 1234<br />
        <strong>Your mobile provider may charge you to receive text messages.</strong> Be sure to check with your provider for details.
      </p>
    </div>
  

  <div class="submit">
    <p class="submit">
      <input name="commit" type="submit" value="Save settings" /> or <a href="https://esi1.highrisehq.com/welcome" class="admin">Cancel</a>
    </p>
  </div>
</div>


  <input id="selected_edit_tab" name="selected_edit_tab" type="hidden" />
</form>

<div class="tokens" id="api_token_tab" style="display: none;">
  <h3>Authentication token</h3>
  <p>Your authentication token is a special code that allows software and services outside of Highrise to connect to your account with your permission. It works like a password so you should keep it safe just as you do with your username and password. If you think your token might have been compromised, you can generate a new one.</p>
  <div id="show_tokens">
    <p><code id="token">c4173e8bfd99d401c3c272b4effef01d</code>
    <a href="#" onclick="if (confirm('Are you sure you want to regenerate this token? Any applications using it will no longer be able to authenticate.')) { $(this).addClassName('busy'); new Ajax.Request('/users/674863/regenerate_token', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('gQj5FMyZP7LUKAB6ye03UK8/1PqOTBZsmEzgtyBdFMg=')}); }; return false;"><span>Regenerate</span></a></p>
  </div>
  <p style="font-size: 11px">Use your token with RSS feed readers, iCal or products that use the Highrise API.</p>
</div>


<div id="linkedin_tab" style="display:none">
  <h3>LinkedIn Integration</h3>
  
    <p>
      <strong>Highrise is connected to your LinkedIn account</strong>.
      This connection is used to display LinkedIn profiles on your contact pages.
    </p>
    <p>
      <a href="/auth/linkedin/disconnect" behavior="return_to" class="disconnect" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'gQj5FMyZP7LUKAB6ye03UK8/1PqOTBZsmEzgtyBdFMg='); f.appendChild(s);f.submit();return false;">Disconnect your LinkedIn account</a> if you want to use a different LinkedIn account with Highrise.
    </p>
  
</div>


  


<script type="text/javascript">
//<![CDATA[
async("EditTabs.selectOnLoad()")
//]]>
</script>

                </div>
              </div>
              <!--// main column -->

              <!-- page sidebar -->
              <div id="page_sidebar" class="Right column">
                <div class="liner">
                  
    <div class="sidebox closedbox">
      <h5>Export your contacts</h5>
      <p>
        Highrise can <a href="/contact_exports/new">export your contacts</a> into multiple formats like vCard, CSV, and Excel. This will not include notes or emails associated with each contact. 
      </p>
    </div>
    
    <div class="sidebox closedbox">
      <h5>Download notes &amp; emails</h5>
      <p>
        Get all the notes and emails for the contacts, companies, cases, and deals you have access to view.
        <a href="/recording_exports" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'gQj5FMyZP7LUKAB6ye03UK8/1PqOTBZsmEzgtyBdFMg='); f.appendChild(s);f.submit();return false;">Download this data</a> as a ZIP file.
      </p>
    </div>
  
                </div>
              </div>
              <!--// page sidebar -->
              
            </div>
            <!--// page contents -->
            
          </div>
        </div>
        <!--// page -->


        
        
        
        <div style="margin-top: 30px"> </div>        
      </div>

  <!----------------------------------------------------------------------End Contenu -------------------------------------------------------------->	 
	 
<!----------------------------------------------------------------------SideBar------------------------------------------------------------------->	 
 
	    			{% include "AppSidebar.html" %}
    
<!----------------------------------------------------------------------End SideBar -------------------------------------------------------------->

  

  <script src="https://d1a993iq9azmzq.cloudfront.net/rev_1a023d2/sprockets.js" type="text/javascript"></script>
  
  
</body>
</html>
