<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <script>var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);(function(){var d=document;var e=d.createElement("script");e.type="text/javascript";e.async=true;e.src="/js/rum.js";var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(e,s);})()</script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{title}}</title>
  <meta name='current-user' content= 674863 />

  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">

  <script type="text/javascript">
//<![CDATA[
function async(f) { async.f.push(f) }; async.f = []
//]]>
</script>
  <script type="text/javascript">
//<![CDATA[
var RAILS_ENV = "production"
//]]>
</script>

  <link href="/stylesheets/cache/all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print/application.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie/base.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="/stylesheets/colors/blue.css" media="screen" rel="stylesheet" title="Theme" type="text/css" />

  <noscript><style type="text/css">#app_header, div.wrapper { display: none }</style></noscript>

  
</head>

<body class="clearfix new_party new_company former_sheet narrow_page_with_sidebar_outside webkit  windows"  onloadnot="setupZoom()">
<!------------------------------------------------------------- Header de la page ------------------------------------------------------------->
  {% include "AppNavigationHeader.html" %}
<!--------------------------------------------------------------End Header -------------------------------------------------------------------->
<!------------------------------------------------------------- Contenu de la page ------------------------------------------------------------>
  <div id="wrapper">
    <div id="inner_wrapper">
      <div id="main_body" class="column">
        
        
        
        <div id="blank_slate" class="clearfix">
          
        </div>

        
                <div id="screen_body">
<!------------------------------------------------------------- Right SideBar ------------------------------------------------------------>

        <!-- page sidebar -->
        <div id="page_sidebar">
          <div class="liner">
            
  <div class="sidebox_wrapper">
    <div class="liner">
      <div class="sidebox closedbox">
        <h5><strong>Add multiple companies</strong></h5>
        <p>Looking to add several companies at once? Choose one of the following file types and you'll be on your way:</p>
        <ul>
          <li><a href="/contact_imports/new#/vcard" behavior="return_to">Upload a vCard file</a></li>
          <li><a href="/contact_imports/new#/csv" behavior="return_to">Import from a CSV file</a></li>
          <li><a href="/contact_imports/new#/xls" behavior="return_to">Import from an Excel file</a></li>
          <li><a href="/contact_imports/new#/basecamp" behavior="return_to">Import from Basecamp</a></li>
          <li><a href="/contact_imports/new#/outlook" behavior="return_to">Import from Outlook</a></li>
          <li><a href="/contact_imports/new#/act" behavior="return_to">Import from ACT!</a></li>
        </ul>
      </div>
    </div>
  </div>

          </div>
        </div>
		
<!------------------------------------------------------------- End Right SideBar ------------------------------------------------------------>

        <!--// page sidebar -->

        <!-- page -->
        <div id="page">

            <!-- page header -->
            <div id="page_header_wrapper">
              
              <div id="page_header">

                <div class="page_header">
  <h1>
    Ajouter un nouveau sujet:
  </h1>
</div>

              </div>
            </div>
            <!--// page header -->

            <!-- page contents -->
            <div id="page_contents_wrapper" class="clearfix">

              <!-- main column -->
              <div id="page_main_column" class="column">
                <div class="liner">
                  



<!-------------------------------------------------------------Formulaire------------------------------------------------------------->

<form action="/enrgsujet" class="new subject"  method="post" ><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="GNzW3wUCL2JsszwUeRScSr1HJh6Euf46PGjZBnchebs=" /></div>
 

<!-------------------------------------------------------------Nom de l'entreprise------------------------------------------------------------->
 <div class="page_divider">
    <div class="primary_fields">
      <table cellpadding="0" cellspacing="0" class="contact_types">
        <tr class="name first_name last">
          <th><h2>Titre du Sujet</h2></th>
          <td><input class="name autofocus" id="sujettitre" name="sujettitre"  size="30" type="text" /></td>
        </tr>
      </table>
    </div>
  </div>
<!-------------------------------------------------------------End Nom de l'entreprise------------------------------------------------------------->


  <div class="secondary_fields edit">
    <table class="contact_types" cellpadding="0" cellspacing="0" id="contact_section">

<!-------------------------------------------------------------autre encadreure------------------------------------------------------------->

<tr>
  <th><h2>Autre Encadreure</h2></th>
  <td><div class="contact_forms email_addresses" id="encadreure"><div id="blank_slate_company_email_address" class='blank_slate'>Ajouter un Email</div><div class="contact_methods" style="display:none;">

  <div id="email_address_x0ed65ee00053504f3546fb" class="contact_method new_contact_method">
    <input class="autofocus" id="company_contact_data_email_addresses__address" name="autreencadreure"  size="30" type="text" />
    
    <span class="addremove"><a href="#" class="remove">Remove</a></span>
  </div>

<div id="add_company_email_address" class="add_contact_method" style="display:none;">
  <div class="add"><a href="#">Ajouter un autre</a></div>
</div>
</div></div><script type="text/javascript">
//<![CDATA[
async("new ContactInfo.ContactForm(\"encadreure\", \"\\n\\n  \\u003Cdiv id=\\\"email_address_#{safe_id}\\\" class=\\\"contact_method new_contact_method\\\"\\u003E\\n    \\u003Cinput class=\\\"autofocus\\\" id=\\\"company_contact_data_email_addresses__address\\\" name=\\\"autreencadreure\\\" size=\\\"30\\\" type=\\\"text\\\"\\\u003E\\u003C/select\\u003E\\n    \\u003Cspan class=\\\"addremove\\\"\\u003E\\u003Ca href=\\\"#\\\" class=\\\"remove\\\"\\u003ERemove\\u003C/a\\u003E\\u003C/span\\u003E\\n  \\u003C/div\\u003E\\n\\n\")")
//]]>
</script></td>
</tr>
<!-------------------------------------------------------------End autre encadreure------------------------------------------------------------->

<!-------------------------------------------------------------Organisme------------------------------------------------------------->

<tr>
  <th><h2>Organisme</h2></th>

 
          <td><input class="name autofocus" id="organisme" name="organisme"  size="30" type="text" /></td>
        </tr>

<!-------------------------------------------------------------Websites------------------------------------------------------------->


<!-------------------------------------------------------------Mot clé------------------------------------------------------------->

<tr>
  <th><h2>Mots-Clés</h2></th>
  <td><div class="contact_forms web_addresses" id="lesmotscle"><div id="blank_slate_company_web_address" class='blank_slate'>Ajouter des Mots-Clés</div><div class="contact_methods" style="display:none;">

  <div id="web_address_x27652bdb0053504f3546fb" class="contact_method new_contact_method">
    <input class="autofocus" id="company_contact_data_web_addresses__url" name="motcle"  size="30" type="text" value="" />
    
    <span class="addremove"><a href="#" class="remove">Remove</a></span>
  </div>

<div id="add_company_web_address" class="add_contact_method" style="display:none;">
  <div class="add"><a href="#">Ajouter un autre Mot</a></div>
</div>
</div></div><script type="text/javascript">
//<![CDATA[
async("new ContactInfo.ContactForm(\"lesmotscle\", \"\\n\\n  \\u003Cdiv id=\\\"email_address_#{safe_id}\\\" class=\\\"contact_method new_contact_method\\\"\\u003E\\n    \\u003Cinput class=\\\"autofocus\\\" id=\\\"company_contact_data_email_addresses__address\\\" name=\\\"motcle\\\" size=\\\"30\\\" type=\\\"text\\\"\\\u003E\\u003C/select\\u003E\\n    \\u003Cspan class=\\\"addremove\\\"\\u003E\\u003Ca href=\\\"#\\\" class=\\\"remove\\\"\\u003ERemove\\u003C/a\\u003E\\u003C/span\\u003E\\n  \\u003C/div\\u003E\\n\\n\")")
//]]>
</script></td>
</tr>

<!-------------------------------------------------------------End Mot clé------------------------------------------------------------->


      
    </table>
  </div>

	


<!-------------------------------------------------------------Description------------------------------------------------------------->


  <div class="contact_forms background">
    <div class="contact_method">
      <p class="background_label"><strong>Résumé</strong> (bio, history, etc)</p>
      <textarea cols="40" id="Resume" name="Resume" rows="20"></textarea>
    </div>
  </div>
<!-------------------------------------------------------------End Description------------------------------------------------------------->

  

  <p class="submit">
    <input name="commit" type="submit" value="Ajouter le sujet" /> <span>ou</span>
    <a href="/" class="admin">Annuler</a>
  </p>
</form>


<!-------------------------------------------------------------End Formulaire------------------------------------------------------------->

<script type="text/javascript">
//<![CDATA[
async("$(\"screen_body\").autofocus({ firstBlankElement: true })")
//]]>
</script>

                </div>
              </div>
              <!--// main column -->

            </div>
            <!--// page contents -->
          
        </div>
        <!--// page -->
      </div>



        
        
        
        <div style="margin-top: 30px"> </div>        
      </div>
<!----------------------------------------------------------------------End Contenu -------------------------------------------------------------->

<!----------------------------------------------------------------------SideBar------------------------------------------------------------------->	 
 
	    			{% include "AppSidebar.html" %}
    
<!----------------------------------------------------------------------End SideBar -------------------------------------------------------------->

   
  

  

  <script src="/js/sprockets.js" type="text/javascript"></script>
  
  <script type="text/javascript" charset="utf-8">NREUMQ.push(["nrf2","beacon-1.newrelic.com","10f60f8605",1746,"IV1cEkFdWghSFxkHXA9CUwhaV0VLWQBB",0,74])</script>

</body>
</html>
